<div class="container-fluid h-100">
    <div class="row grid-divider h-100">

        <div class="col-2">
            <h4>Groups</h4>
            <ul class="groups">
                <li *ngFor="let groupName of groups"
                    [class.selected]="groupName === selectedGroup"
                    (click)="onSelect(groupName)">
                    <span>{{groupName}}</span>
                    <button *ngIf="user.ofGroupAdminsRole" type="button" class="close" aria-label="Close" (click)="deleteGroup(groupName)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
            <!-- MODAL TO ADD GROUP -->
            <button *ngIf="user.ofGroupAdminsRole" type="button" mdbBtn color="secondary" mdbWavesEffect (click)="addGroup()">Add Group</button>
        </div>

        <div class="col-2">
            <h4>Channels</h4>
            <ul class="groups">
                <li *ngFor="let channel of channels; index as i"
                    [class.selected]="channel.name === activeChannel.name"
                    (click)="onSelectChannel(channel)">
                    <span>{{channel.name}}</span>
                    <button *ngIf="ofGroupAssistantRole" type="button" class="close" aria-label="Close" (click)="deleteChannel(i)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
            <button *ngIf="ofGroupAssistantRole" type="button" class="btn btn-secondary" (click)="addChannel()">Add Channel</button>
        </div>
        <div class="col-6">
            <h4>Chat</h4>
            <div *ngIf="activeChannel; else noChannel">
                <form>
                    <div class="form-group">
                        <label for="messagecontent">New Message</label>
                        <input type="text" [(ngModel)]="msg" name="messagecontent" id="messagecontent" class="form-control" placeholder="Enter Message">
                    </div>
                    <div class="form-group">
                        <button (click)="send()" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
                
                <h3>Chat Messages</h3>
                <ul>
                    <li *ngFor="let message_data of messages_data">{{message_data.message}}</li>
                </ul>   
            </div>
            <ng-template #noChannel>
                <p>Please connect to a channel</p>
            </ng-template>
        </div>

        <div class="col-2" *ngIf="activeGroup">
            <h5>Group Admin</h5>
            <ul class="groups">
                <li>
                    <span>{{activeGroup.groupAdmin}}</span>
                </li>
            </ul>

            <h5>Group Assistants</h5>
            <ul class="groups">
                <li *ngFor="let assistant of activeGroup.groupAssis">
                    <span>{{assistant}}</span>
                    <button *ngIf="user.ofGroupAdminsRole" type="button" class="close" aria-label="Close" (click)="removeAssistant(assistant, activeChannel)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
            <button *ngIf="user.ofGroupAdminsRole" type="button" class="btn btn-secondary" (click)="addAssistant()">Add Assistant</button>

            <div *ngIf="activeChannel">
                <h5>Channel Users</h5>
                <ul class="groups">
                    <li *ngFor="let channelUser of activeChannel.users">
                        <span>{{channelUser}}</span>
                        <button *ngIf="ofGroupAssistantRole" type="button" class="close" aria-label="Close" (click)="removeUserFromChannel(channelUser, activeChannel)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
                <button *ngIf="ofGroupAssistantRole" type="button" class="btn btn-secondary" (click)="addUserToChannel()">Add User</button>
            </div>

            <h5>Server Users</h5>
            <ul class="groups">
                <li *ngFor="let serverUser of activeGroup.allUsers">
                    <span>{{serverUser}}</span>
                    <button *ngIf="user.ofGroupAdminsRole && serverUser != activeGroup.groupAdmin" type="button" class="close" aria-label="Close" (click)="removeUserFromServer(serverUser)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
            <button *ngIf="user.ofGroupAdminsRole" type="button" class="btn btn-secondary" (click)="addUserToServerModal()">Invite</button>
        </div>

    </div>
</div>
