<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Login Form -->
        <form>
            <input [(ngModel)]="login" id="login" class="fadeIn second" name="login" placeholder="Login">
            <input [(ngModel)]="pw" type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
            <button (click)="submit()" class="fadeIn fourth">Log In</button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

        <div *ngIf="fail" class="alert alert-danger" role="alert">
            Incorrect Login
        </div>

    </div>
</div>
      
